*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
}

.l-grid {
    max-width: 1100px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}


 .l-grid__item--tall {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.l-grid__item--large {
    grid-column: span 2;
} 




.quote {
    height: 100%;
    padding: 30px;
    color: hsl(210, 46%, 95%);
    border-radius: 10px;
}

.quote--purple {
    background-color: hsl(263, 55%, 52%);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
}

.quote--grey {
    background-color: hsl(217, 19%, 35%);
}

.quote--black {
    background-color: hsl(219, 29%, 14%);
}

.quote--white {
    background-color: white;
    color: black;
}

.quote__about {
    display: flex;
    align-items: center;
}

.quote__profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.quote__info {
    margin-left: 15px;
    line-height: 1.25;
}

.quote__role {
    color: hsl(0, 0%, 81%);
}

.quote__headline {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
}

.quote__content {
    color: hsl(0, 0%, 81%);
    line-height: 1.5;
}

.quote__content--white {
    color: hsl(217, 19%, 35%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media all and (max-width: 1100px) {
    .l-grid__item--tall {
        grid-column: span 4;
        grid-row: 3 / span 1;
    }

    .l-grid__item--small {
        grid-column: span 2;
    }
}

@media all and (max-width: 800px) {
    .l-grid {
        margin: 10px auto;
        padding: 20px;
        display: block;
    }

    .l-grid__item {
        margin-bottom: 20px;
    }

}